h1{ 
    background-color: black; color: floralwhite;font-style: oblique;
}
.lightblue{color: cyan;}
h2{
    background-color: blueviolet;color: cornsilk; text-align: center;
}
h3{
    background-color: cornflowerblue; text-align: right; text-decoration: underline;
}